---
import Layout from "../../layouts/Layout.astro";
import directus from "../../lib/directus";
import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
    const posts = await directus.request(readItems("posts", {
        fields: ["*", {
            author: ["name"],
            image: ["id", "title", "description"]
         }],
        filter: {
          status: {
            _eq: "published",
          },
        },
    }));
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post
    }));
}

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};

const post = Astro.props;

const formattedPublishedDate = new
    Date(post.published_date)
    .toLocaleDateString("en-US", dateOptions);
---

<Layout title={post.title}>
    <main>
        <img src={`${import.meta.env.DIRECTUS_ADDRESS}/assets/${post.image.id}/${post.slug}.jpg?width=500&quality=70&format=auto`} alt={post.image.description ?? ""} />
        <h1>{post.title}</h1>
        <span>By {post.author.name}, Published on {formattedPublishedDate}</span>
        <div set:html={post.content} />
    </main>
</Layout>